*{
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: whitesmoke;
    padding: 8px;
    width: 800px;
    height: 800px;
    border: solid 2px black;
    font-size: 22px;
    margin-left: 5px;
    left: 100px;
    top: 50px;
    position: absolute;
}
.container table{
    border-collapse: collapse;
}

.container table td{
    padding: 7px;
    background-color: rgb(235, 190, 132);
}


.profile{
    background-color: rgb(133, 182, 255);
    padding: 8px;
    left:  925px;
    top: 50px;
    position: absolute;
    width: 500px;
    height: 830px;
    font-size: 20px;
    border: 2px solid black;
    
}

.profile img{
    
    border-radius: 50%;
    left: 550px;
    margin-top: 30px;
    margin-left: 150px;
    

}
.profile h1 {
    font-size: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}